@import './variables.scss';

.app__form--search-box {
  vertical-align: middle;
  position: relative;

  @media (min-width: $mobile-min) {
    width: 300px;
    float: right;
  }

  .app__input {
    width: calc(100% - 35px);
  }

  .app__btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    width: 35px;
    background-color: $grey;
    border-radius: 0;

    img {
      width: 22px;
    }
  }
}