@import './variables.scss';

.app__sociallinks {
  
  .app__sociallinks__link {
    &:first-child img {
      margin-left: 0;
    }

    img {
      height: 24px;
      margin: 0 $spacing-s;
    }
  }
}