/* Colors */
$text-color: #f5f5f5!default;

$brand-color: #1E8BC3!default;

$grey: #5c5c5c!default;
$grey-dark: #29292A!default;
$grey-light: #9b9b9b!default;

$rating-high: #27ae60!default;
$rating-mid: #e67e22!default;
$rating-low: #c0392b!default;

$msg-success: #d4edda!default;
$msg-success-border: darken(#d4edda, 30%);
$msg-success-text: darken(#d4edda, 60%);

$msg-info: #fff3cd!default;
$msg-info-border: darken(#fff3cd, 30%);
$msg-info-text: darken(#fff3cd, 60%);

$msg-error: #f8d7da!default;
$msg-error-border: darken(#f8d7da, 30%);
$msg-error-text: darken(#f8d7da, 60%);

/* Spacing */
$spacing-r: 20px!default;
$spacing-s: ($spacing-r / 2);
$spacing-l: ($spacing-r * 2);
