/* Colors */
$text-color: #f5f5f5!default;

$brand-color: #1E8BC3!default;

$grey: #5c5c5c!default;
$grey-dark: #29292A!default;
$grey-light: #9b9b9b!default;

$msg-success: #27ae60!default;
$msg-info: #e67e22!default;
$msg-error: #c0392b!default;

/* Spacing */
$spacing-r: 20px!default;
$spacing-s: ($spacing-r / 2);
$spacing-l: ($spacing-r * 2);
