@import './variables.scss';

.app__wrapper {
  max-width: 1200px;
  padding: 0 $spacing-r;
  margin: $spacing-r auto;
}

.app__input,
.app__btn {
  padding: 5px 10px;
  min-height: 35px;
  border: 0;
}

.app__input {
  border: 0;
  min-height: 35px;
}

.app__messages {
  text-align: left;
  margin: $spacing-s 0;

  .app__message {
    padding: $spacing-s;
    border-radius: 3px;
  }
  .message--success {
    color: $msg-success-text;
    background-color: $msg-success;
    border: 1px solid $msg-success-border;
  }
  .message--info {
    color: $msg-info-text;
    background-color: $msg-info;
    border: 1px solid $msg-info-border;
  }
  .message--error {
    color: $msg-error-text;
    background-color: $msg-error;
    border: 1px solid $msg-error-border;
  }
}