@import './variables.scss';

.app__latest-films {

  .app_film {
    flex-basis: 9%;
    max-width: 9%;
    
    h3 {
      margin-bottom: $spacing-s;
      font-size: 14px;
      font-weight: normal;
    }
  }
}