@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
/* Colors */
/* Spacing */
/* Font */
/* Font size */
/* Screen widths */
* {
  box-sizing: border-box; }

html {
  font-size: 100%; }

body {
  margin: 0;
  padding: 0;
  background-color: #eceaea;
  color: #29292A;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3 {
  margin-top: 0;
  line-height: 1; }

a {
  color: #61DAFB;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

input, select, textarea, button {
  font-size: 1em; }

button {
  cursor: pointer; }

p {
  margin-top: 0; }
  p:only-child, p:last-child {
    margin-bottom: 0; }

img {
  max-width: 100%; }

.app__container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }

.app-container--fixed {
  max-width: 1600px; }

.app__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px; }

.app__col {
  max-width: 100%;
  flex-basis: 100%;
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 577px) {
    .app__col {
      flex-basis: 0;
      flex-grow: 1; } }

.col-3 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

@media (min-width: 577px) {
  .flex-grow-3 {
    flex-grow: 3; } }

.hide-mobile {
  display: none; }
  @media (min-width: 577px) {
    .hide-mobile {
      display: inline-block; } }

/* Animations */
.SlideIn-appear {
  transform: translateY(-30px);
  opacity: 0; }

.SlideIn-appear.SlideIn-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s linear; }

.SlideIn-enter {
  opacity: 0;
  transform: translateY(-30px); }

.SlideIn-enter.SlideIn-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.2s linear 0.4s; }

.SlideIn-leave {
  opacity: 1.0;
  transform: translateY(0); }

.SlideIn-leave.SlideIn-leave-active {
  opacity: 0;
  position: absolute;
  width: 100%;
  transform: translateY(30px);
  transition: all 0.2s linear; }
