@import './variables.scss';

.app__rating .rating__score {
  display: block;
  padding: 10px;
  width: 38px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
}
.rating__score--high {
  background-color: $rating-high;
}
.rating__score--mid {
  background-color: $rating-mid;
}
.rating__score--low {
  background-color: $rating-low;
}